@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@300&display=swap');

body {
    background-color: #65a8d2;
    font-family: 'Oswald', sans-serif; /* Using Oswald font */
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
}

/* End Slider CSS*/

#content {
    background-color: white;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
    border-radius: 7px;
}

h1 {
    font-size: 2em;
    padding: 10px;
}

h2 {
    font-size: 1.5em;
    padding: 10px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
    background-color: #0b2c6c;
    color: white;
}

ol, ul {
    text-align: left;
}

p {
    line-height: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
}

ol, p {
    margin-left: 6em;
    margin-right: 6em;
}

ol li {
    line-height: 1.5em;
}

.logo {
    width: 120px;
    height: 120px;
    padding: 0 0 20px 50px;
}

.pri, .sec, .acc1, .acc2, .acc3 {
    margin: 40px 0 15px 0;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

nav ul {
    padding-inline-start: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #0b2c6c;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 7px 10px #888888;
}

.cta{
    margin: auto;
}

nav li {
    padding: 20px 60px 20px 60px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

nav a:hover {
    color: black;
}

nav li:hover {
    background-color: #5ba48e;
}

.persona {
    overflow: hidden;
    height: 200px;
    clip: rect(0px,60px,200px,0px);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.sitemap {
    width: 100%;
}

#topo {
    height: 100vh;
}

section a {
    font-size: 1.5em;
    color:#8F6B60;
    font-family: Basic, 
}
.card {
    align-self: center;
    padding: 5px;
    margin: 5px;
    background-color: #e5e5e5;
    text-align: center;
}

.card h3 {
    margin: 0;
}
.card img{
    padding: 10px;
}
.card:hover{
    background-color: #5ba48e;
}
.hr{
    border: 1px solid lightgray;
}
footer {
    padding-top: 30px;
}

@media screen and (max-width: 1000px) {
    .nav-toggle {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav ul.show {
        display: block;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}
