@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@300&display=swap');

body {
    background-color: #65a8d2;
    font-family: 'Oswald', sans-serif; /* Using Oswald font */
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
}

/* End Slider CSS*/

#content {
    background-color: white;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    max-width: 1500px;
    border-radius: 7px;
}

h1 {
    font-size: 2em;
    padding: 10px;
}

h2 {
    font-size: 1.5em;
    padding: 10px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
    background-color: #0b2c6c;
    color: white;
}

ol, ul {
    text-align: left;
}

p {
    line-height: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
}

ol, p {
    margin-left: 6em;
    margin-right: 6em;
}

ol li {
    line-height: 1.5em;
}

.logo {
    width: 120px;
    height: 120px;
    padding: 0 0 20px 50px;
}

.pri, .sec, .acc1, .acc2, .acc3 {
    margin: 40px 0 15px 0;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

nav ul {
    padding-inline-start: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #0b2c6c;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 7px 10px #888888;
}

/*Hero Image CSS*/
.hero {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px;
  }
  
.image-container {
    max-width: 100%;
    position: relative;
}
.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    h2 {
        font-size: 2.5em;
      }
      
    p {
        font-size: 1.2em;
      }
      
    btn {
        font-size: 1.2em;
        color:#ccc;
      }
}
  
.cta-content {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

nav li {
    padding: 20px 60px 20px 60px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

nav a:hover {
    color: black;
}

nav li:hover {
    background-color: #5ba48e;
}

.persona {
    overflow: hidden;
    height: 200px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.sitemap {
    width: 100%;
}

#topo {
    height: 100vh;
}

section a {
    font-size: 1.5em;
    color:#8F6B60;
    font-family: Basic, 
}
.card {
    align-self: center;
    padding: 5px;
    margin: 5px;
    background-color: #e5e5e5;
    text-align: center;
}

.temp {
    align-self: center;
    padding: 5px;
    margin: 5px;
    background-color: #e5e5e5;
    text-align: center;
}

.card h3 {
    margin: 0;
}
.card img{
    padding: 10px;
}
.card:hover{
    background-color: #5ba48e;
}
.hr{
    border: 1px solid lightgray;
}
footer {
    padding-top: 30px;
}

@media screen and (max-width: 1000px) {
    .nav-toggle {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav ul.show {
        display: block;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}

label, input {
    display: block;
    font-size: 2em;
}

label {
    margin: 20px 0 0 0;
}

input {
    height: 50px;
}

form {
    margin-bottom: 20px;
}

/* Join CSS */
#join_content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
form {
    margin: 40px;
}
form input:required {
    border-left: red solid 6px;
}
form input:required:valid {
    border-left: green solid 6px;
}
label {
    font-size: 25px;
}
label, input {display:block}
input, textarea {
    height: 50px; 
}
input, textarea{
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}
textarea {
    height: 100px;
}
input[type='radio']{ 
    height: 20px; 
}
#member {padding-bottom: 20px;}
span {
    font-size: 20px;
}
#radio {
    display: grid;
    grid-template-columns: 60px 100px;
}
input[type='submit']{ 
    height: 80px; 
    width: 75%;
    font-size: 25px;
    background-color:rgb(35, 121, 150);
    color: white;
    border-radius: 10px;
}
#memberinfo {
    margin: 40px 40px 40px 100px;
    font-size: 20px;
}
#join_title {
    font-size: 3em;
}
#thanks {
    text-align: center;
    grid-column: 1/4;
    margin:100px;
}

@media screen and (min-width: 1200px){
     #join_content{
        flex-direction: row;
        margin-left: 80px;
    }

    


}
/* Hamburger menu or responsive menu */

/* Main */

main {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 100px 100px 100px 100px 300px;  */
    grid-gap: 10px;
    margin: 50px;
    
}


#days{
    text-align: center;
    color: white;
    background-color: gray;
    padding: 30px;
}
#discover_main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px;
}
.gallery {
    display: block;
    margin: 0 auto;
}
figure {
    display: block;
    width: 100%;
    margin: 0 auto;
}

figcaption {
    display: block;
    text-align: center;
    padding: 5px;
}
@media screen and (min-width: 800px){
    /* Main content */

    #dis_main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 45px;
    }

    figure img:hover {
        box-shadow: 0 0 15px #333;
    }
    
}

@media screen and (min-width: 1200px){

    #dis_main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 45px;
    }


}

/*Directory*/

#days{
    text-align: center;
    color: white;
    background-color: gray;
    padding: 30px;
}
#dis_main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px;
}
.gallery {
    display: block;
    margin: 0 auto;
}
figure {
    display: block;
    width: 100%;
    margin: 0 auto;
}

figcaption {
    display: block;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 1200px){

    #dis_main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 45px;
    }


}